.container {
	font-family: Verdana, Geneva, sans-serif;
}

.headertext {
	font-size: 40px;
	font-family: 'Pacifico', serif;
}

.categoriesList {
	font-family: 'Sacramento', serif;
	font-size: 30px;
}

.categoryInfo, .reviewInfo {
	font-family: Arial, Helvetica, sans-serif;
}

a:hover {
	background-color: dimgray;  
	text-decoration: none; 
}

header {
	background: linear-gradient(to bottom, aliceblue, silver);
}

footer {
	font-family: Verdana, Geneva, sans-serif; 
	
}