<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">

<head>
	<title>Categories</title>
<link rel="stylesheet" href="./css/style.css" />
<link rel="stylesheet" href="./css/layout.css" />
</head>

<body>
	<div class="container">	
		<header>
			<h1>List of Review Categories</h1>
		</header>
		<main>
				<ul th:each= "category : ${categories}">
					<li><a th:href= "@{category(id=${category.id})}"
					th:text= "${category.type}"></a></li>
				</ul>

		</main>

		<footer>
			<span class="Copyright">&copy;2018 Susan Wendt</span>
		</footer>
	</div> <!-- /.container -->
</body>
</html>