<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">

<head>
	<title>Categories</title>
	<link href="./css/style.css" rel="stylesheet" />
	<link href="./css/layout.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Pacifico" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Alice|Sacramento" rel="stylesheet" />
</head>

<body>
	<div class="container">	
		<header>
			<img id="logo" src="./images/swlogo.png" alt = "no image found" /> 
			<h1 class = "headertext">List of Review Categories</h1>
		</header>
		<section class="categoriesList">
				<ul th:each= "category : ${categories}">
					<li><a th:href= "@{category(id=${category.id})}"
					th:text= "${category.type}"></a></li>
				</ul>

		</section>

		<footer>
			<span class="Copyright">&copy;2018 Susan Wendt</span>
			<a href="/tags">See All Tags</a>
		</footer>
	</div> <!-- /.container -->
</body>
</html>