<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Pacifico" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Alice|Sacramento" rel="stylesheet" />
	<title>Review</title>
</head>

<body>
	<div class="container">	
		<header>
			<img id="logo" src="/images/swlogo.png" alt = "no image found" /> 
			<h1 class = "headertext" th:text="${review.name} + ' Review'"></h1>
			
			<!-- may need to change line below -->
			<input type="hidden" id="review-id" th:value="${review.id}" />  
			<!-- susie, please check line above -->
			
		</header>

		<section class="reviewInfo">
			<article>
				<h3>Description:</h3>
				<p th:text="${review.description}"></p>
				<img th:src="${review.imageUrl}" alt="I'm not pictured here" />
			</article>
			
			
			
			<article>
				<h3>Links:</h3>
				<a th:href="${review.website}"><h3 th:text="${review.name} + ' website'"></h3></a> 
				<a th:href="${review.insta}"><h3 th:text="${review.name} + ' Instagram'"></h3></a>
			</article>

			<article class="tagContainer">
				<h3>Tags:</h3>
				<span th:each="tag: ${review.tags}">
					<a href="/tagView" th:href="@{'/tag/' + ${tag.id}}" 
					th:text="${tag.tagWord}"></a>
					<a class="tag-delete-x">x</a>
					<input type="hidden" th:value="${tag.id}" />
				</span>
			</article>
			
			<article class="tag-input-form">
				<h3>Add Tag: </h3>
				<form method="POST">
					<div>
						<label>Tag:</label> <input type="text" id="tagWord" required="true" />
					</div>
					<div>
						<input type="button" class="tag-add-button" value="Submit" ></input>
					</div>
				</form>
			</article>
			
			<!-- Old submit form -->
			<!-- <article>
			<h3>Change Tags:</h3>
					<div class="tags" th:each="tag:${review.tags}">
						<p th:text="${tag.tagWord}" />
						<input type="hidden" name="tagId" th:value="${tag.id}" />
						<button  class="deleteButton"  th:attr="data-del-id=${review.id},data-tag-id=${tag.id}">Delete</button>
					</div>
					<form>
						<div>
							<label>Tag:</label> <input id="tagInput" type="text" />
						</div>
						<div>
							<input type="hidden" name="reviewId" th:value="${review.id}" />
						</div>
						<div>
							<button class="addButton" th:attr="data-review-id=${review.id}">Add</button>
						</div>
					</form>
			</article> -->
			
			<article>
				<h3>Leave New Comment</h3>
				<form method="POST">
					<div>
						<label>Write comment: </label> <input type="text" name="commentText" />
					</div>
					<div>
						<label>Enter your user name: </label> <input type="text" name="userName" />
					</div>
					<div>
						<input name="reviewId" type="hidden" th:value="${review.id}" /> 
					</div>
					<div>
						<input class="comment-add-button" th:formaction="@{'/review/' + ${review.id} + '/addcomment'}" type="submit" value="Post Comment"></input>
					</div>
				</form>
			</article>
			
			<article>
				<h3>Comment Section</h3>
				<ul th:each="comment: ${review.comments}"> 
					<li>________________________________</li>
					<li><p th:text="${comment.commentText}" ></p>
					<p th:text="'Date: ' + ${comment.date}"></p>
					<p th:text="'UserName: ' + ${comment.userName}"></p></li>
				 </ul>
			</article>
		</section>
		
		<footer>
			<span class="Copyright">&copy;2018 Susan Wendt</span>
			<p><a th:href= "@{'/category/' + ${review.category.id}}"
			th:text= "'Return to ' + ${review.category.type} + ' Category'"></a></p>
			<p><a href="/categories">Back to Home</a></p>
		</footer>
	
	</div> <!-- /.container -->
	<script src="/js/tags.js"></script>
</body>
</html>