<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" href="./css/layout.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Pacifico" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Alice|Sacramento" rel="stylesheet" />
	<title>Review</title>
</head>

<body>
	<div class="container">	
		<header>
			<img id="logo" src="./images/swlogo.png" alt = "no image found" /> 
			<h1 class = "headertext" th:text="${review.name} + ' Review'"></h1>
		</header>

		<section class="reviewInfo">
			<article>
				<h3>Description:</h3>
				<p th:text="${review.description}"></p>
			</article>
			
			<img th:src="${review.imageUrl}" alt="I'm not pictured here" />
			
			<article>
				<h3>Links:</h3>
				<a th:href="${review.website}"><h3 th:text="${review.name} + ' website'"></h3></a> 
				<a th:href="${review.insta}"><h3 th:text="${review.name} + ' Instagram'"></h3></a>
			</article>

			<article>
				<h3>Tags:</h3>
				<span th:each="tag: ${review.tags}">
					<a href="/tagView" th:href="@{tag(id=${tag.id})}" 
					th:text="${tag.tagWord}"></a>
					<span> </span>
				</span>
			</article>
			
			<article>
				<h3>Leave New Comment</h3>
				<form method="POST">
					<div>
						<label>Write comment: </label> <input type="text" name="commentText" />
					</div>
					<div>
						<label>Enter your user name: </label> <input type="text" name="userName" />
					</div>
					<div>
						<input name="reviewId" type="hidden" th:value="${review.id}" /> 
					</div>
					<div>
						<button type="submit" th:formaction="@{/add-comment}">Enter</button>
					</div>
				</form>
			</article>
			<h3>Comment Section</h3>
			<article>
				<ul th:each="comment: ${review.comments}"> 
					<li th:text="'Comment: ' + ${comment.commentText}" ></li>
					<li th:text="'Date: ' + ${comment.date}"></li>
					<li th:text="'UserName: ' + ${comment.userName}"></li>
				 </ul>
			</article>
		</section>
		
		<footer>
			<span class="Copyright">&copy;2018 Susan Wendt</span>
			<p><a th:href= "@{category(id=${review.category.id})}"
			th:text= "'Return to ' + ${review.category.type} + ' Category'"></a></p>
			<p><a href="/categories">Back to Home</a></p>
		</footer>
	
	</div> <!-- /.container -->

	
	
</body>
</html>