<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Review</title>
</head>
<body>
	<h1 th:text="${review.name} + ' Review'"></h1>

		<img th:src="${review.imageUrl}" alt="I'm not pictured here" />

		<a th:href="${review.website}"><h3 th:text="${review.name} + ' website'"></h3></a> 
		
		<a th:href="${review.insta}"><h3 th:text="${review.name} + ' Instagram'"></h3></a>

		<h3>Description:</h3>
		<p th:text="${review.description}"></p>
		
		<h3>Tags</h3>
		<ul>
			<li th:each= "tag : ${review.tags}" th:text= "${tag.tagWord}"> </li>		
		</ul>
	
	<h3>Tags Link</h3>
	<span th:each="tag: ${review.tags}">
			<a href="tagView.html" th:href="@{tag(id=${tag.id})}" 
			th:text="| ${tag.tagWord}|"></a>
			<span> </span>
		</span>
	
	<p><a th:href= "@{category(id=${review.category.id})}"
	th:text= "'Return to ' + ${review.category.type} + ' Category'"></a></p>
	
	<p><a href="/categories">Back to Home</a></p>
</body>
</html>