<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Pacifico" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Alice|Sacramento" rel="stylesheet" />
	<title>Category</title>
</head>
<body>
<div class="container">	
		<header>
			<img id="logo" src="/images/swlogo.png" alt = "no image found" /> 
			<h1 class = "headertext" th:text="${category.type} + ' Reviews:'"></h1>
		</header>
		
		<section class="categoryInfo">
		
			<article>
				<h3>Description:</h3>
				<p th:text="${category.description}"></p>
			</article>
			
			<img id = "fitness" th:src="${category.imageUrl}" alt="I'm not pictured here" />
	
			<article>
				<h3>List of Reviews in this Category:</h3>
				<ul th:each= "review : ${reviews}">
					<li><a th:href= "@{'/review/' + ${review.id}}"
					th:text= "${review.name}"></a></li>
				</ul>
			</article>
			
		</section>
		<footer>
			<span class="Copyright">&copy;2018 Susan Wendt</span>
			<p><a href="/categories">Back to Home</a></p>
		</footer>
	</div> <!-- /.container -->

</body>
</html>