<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" href="./css/layout.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Pacifico" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Alice|Sacramento" rel="stylesheet" />
	<title>Tag Page</title>
</head>

<body>
	<div class="container">	
		<header>
			<img id="logo" src="./images/swlogo.png" alt = "no image found" /> 
			<h1 class="headertext" th:text="${currentTag.tagWord} + ' Tag'"></h1>
		</header>
			
			<article>
				<h3>Reviews with this tag</h3>
				<ul th:each="element: ${currentTag.reviews}">
					<li><a href="/reviewView" th:href="@{review(id=${element.id})}" th:text="${element.name}"></a>
					<span th:text="${element.description}"></span></li>
				</ul>
			</article>
				
		<footer>
			<span class="Copyright">&copy;2018 Susan Wendt</span>
			<a href="/tags">See All Tags</a>
			<a href="/categories">Back to Home</a>
		</footer>
	</div> <!-- /.container -->
</body>
</html>